body {
    border: 0;
    margin: 0;
}
div {
	margin: 0;
	padding: 0;
}
.code_area {
    width: 100%;
    resize: none;
    height: 90vh;
    position: fixed;
    font-size: 1.2em;
    background: #313131;
    border: none;
    color: #FFF;
    top: 0;
}
.desktop {
    bottom: 0;
    height: 10vh;
    width: 100%;
    position: fixed;
}
.control_panel {
    width: 20%;
    height: 100%;
    background: red;
    float: left;
}
.console {
    width: 80%;
    height: 100%;
    float: left;
    overflow: auto;
}
.console .message {
    margin: 0 10px;
    font-size: 0.8em;
}